.App {
  margin: 0;
  height: 100vh;
  background: rgb(167,134,195);
  background: linear-gradient(56deg, rgba(167,134,195,1) 0%, rgba(204,106,96,1) 51%, rgba(231,157,197,1) 100%);
  position: relative;
  z-index: 1;
}

.addNewPopupElement{
  position: absolute;
  z-index: 2;
  top: 10%;
  left: 50%;
  transform: translate(-50%,0);
  background-color: rgb(129, 186, 209);
  border-radius: 25px;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}
