.App {
  margin: 0;
  height: 100vh;
  background-color: rgb(207, 207, 207);
  position: relative;
  z-index: 1;
}

.addNewPopupElement{
  position: absolute;
  z-index: 2;
  top: 10%;
  left: 50%;
  transform: translate(-50%,0);
  background-color: grey;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}
