.newComponent {
    border: 1px solid rgb(199, 199, 199);
    width: 270px;
    border-radius: 10%;
    padding: 0.3rem;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 10rem;
    position: relative;
    background-color: rgb(241, 235, 235);
}

.newHeader {
    display: flex;
    justify-content: space-between;
}

.componentButton{
    padding: 0;
    border: none;
    background: none;
    border: 2px solid black;
    border-radius: 30%;
    width: 30px;
    height: auto;
    margin-top: 4px;
    margin-right: 0.5rem;
    font-size: large;
    cursor: pointer;
    min-width: 30px;
}

.newTitle{
    margin: 0rem 0.3rem;
    max-width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: Courier;
    margin-top: auto;
}

.newContent {
    margin: 0.3rem 0.4rem;
    height: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.contentPopup {
    position: absolute;
    word-wrap: break-word;
    border-radius: 3%;
    padding: 1rem;
    overflow: hidden;
    z-index: 4;
    top: 30%;
    left: 5%;
    width: 240px;
    max-width: 250px;
    background-color: rgb(139, 110, 110);
    color: rgb(238, 238, 238);
}

.shown {
    visibility: visible;
}

.notShown {
    visibility: hidden;
}