.deletePopup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    border: 1px solid black;
    border-radius: 10%;
    padding: 1rem;
    background-color: azure;
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin: 0 1rem;
    margin-top: 1rem;
    margin-bottom: 0.1rem;
}

.button{
    background: none;
    border: 1px solid rgba(27, 31, 35, .15);
    padding: 0.4rem;
    cursor: pointer;
    border-radius: 20%;
    font-size: 0.8rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.yes-btn {
    background-color: #2ea44f;
}

.no-btn {
    background-color: #d34c2b;
}

.yes-btn:hover {
    background-color: #1a4e29;
}

.no-btn:hover{
    background-color: #860000;
}

.paragraph {
    margin-top: 0.1rem;
}